<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>Registration</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GetAnswerServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.GetAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CropInfoServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.CropInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotesAddServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.NotesAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteEnotes</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.deleteEnotes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNotes</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.UpdateNotes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCropInfo</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.updateCropInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCropInfo</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.deleteCropInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSoilDetails</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.addSoilDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSoildetails</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.updateSoildetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteSoildetails</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.deleteSoildetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminRegister</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.adminRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>expertReg</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.expertReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailAuth</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.MailAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendingMailto</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.sendingMailto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpLoginServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.ExpLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpertLogoutServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.ExpertLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.ArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
        <url-pattern>/farmerportal registration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.QueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDetails</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.StudentDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQueryServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.ViewQueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>soilServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.soilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUserServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.deleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.ReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.ForgetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryServlet</servlet-name>
        <url-pattern>/QueryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentDetails</servlet-name>
        <url-pattern>/StudentDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQueryServlet</servlet-name>
        <url-pattern>/ViewQueryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>soilServlet</servlet-name>
        <url-pattern>/soilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUserServlet</servlet-name>
        <url-pattern>/deleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyServlet</servlet-name>
        <url-pattern>/ReplyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetServlet</servlet-name>
        <url-pattern>/ForgetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/AdminLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAnswerServlet</servlet-name>
        <url-pattern>/GetAnswerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CropInfoServlet</servlet-name>
        <url-pattern>/CropInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotesAddServlet</servlet-name>
        <url-pattern>/NotesAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteEnotes</servlet-name>
        <url-pattern>/deleteEnotes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNotes</servlet-name>
        <url-pattern>/UpdateNotes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCropInfo</servlet-name>
        <url-pattern>/updateCropInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCropInfo</servlet-name>
        <url-pattern>/deleteCropInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSoilDetails</servlet-name>
        <url-pattern>/addSoilDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSoildetails</servlet-name>
        <url-pattern>/updateSoildetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteSoildetails</servlet-name>
        <url-pattern>/deleteSoildetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminRegister</servlet-name>
        <url-pattern>/adminRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>expertReg</servlet-name>
        <url-pattern>/expertReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailAuth</servlet-name>
        <url-pattern>/MailAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendingMailto</servlet-name>
        <url-pattern>/sendingMailto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpLoginServlet</servlet-name>
        <url-pattern>/ExpLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpertLogoutServlet</servlet-name>
        <url-pattern>/ExpertLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/ArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/UserLogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.ReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.ReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.ReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.ReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.ReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.ReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.ReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.ReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>com.farmer.open.discussion.servlets.ReplyServlet</servlet-class>
    </servlet>
</web-app>
